<%= render "layouts/navbar" %>
<div class="card p-3">
<h3>Lists:</h3>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="card col-2 m-3" style="width: 18rem;">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= list.name %></h5>
        <%= link_to "See list", list_path(list.id), class: "btn btn-primary" %>
        <%= link_to "Delete", list_path(list.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %>

      </div>
      </div>
    <% end %>
  </div>
</div>
