<%= render "layouts/navbar" %>
<div class="card p-3">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, label: 'Your list name please', error: 'list name is mandatory, please specify one' %>
    <%= f.button :submit %>
  <% end %>
</div>
