<div class="card col-2 m-3" style="width: 18rem;">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= @list.name %></h5>
      </div>
</div>
